<!-- <div class="row">
  <div class="col-xxl-5">
    <div class="row">
      <div class="col-md-6">
        <a href="http://localhost:4200/pages/games/list" class="btn btn-primary"
          >Games Table</a
        >
        <ngx-profit-card></ngx-profit-card>
      </div>
      <div class="col-md-6">
        <ngx-earning-card></ngx-earning-card>
      </div>
    </div>

    <ngx-traffic-reveal-card></ngx-traffic-reveal-card>
  </div>

  <div class="col-xxl-7">
    <ngx-ecommerce-charts></ngx-ecommerce-charts>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <ngx-country-orders></ngx-country-orders>
  </div>

  <div class="col-xxl-3">
    <ngx-progress-section></ngx-progress-section>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <ngx-ecommerce-visitors-analytics></ngx-ecommerce-visitors-analytics>
  </div>

  <div class="col-xxl-3">
    <ngx-user-activity></ngx-user-activity>
  </div>
</div> -->

<div class="container-fluid">
  <div class="row">
    <div class="card" style="width: 400px" class="col-4">
      <img
        class="card-img-top"
        src="assets/images/gamesImg.png"
        alt="Card image"
      />
      <div class="card-body">
        <h4 class="card-title">Games Table</h4>
        <p class="card-text">
          Click the button below to be redirected to the Games Table, where you
          can: add, edit, or delete content.
        </p>
        <!-- you were getting a ERROR, to make 'rouerLink' work in you module.ts file you need to import RouterModule-->
        <!-- Also you need to go back a route hence using '../' or else you will have pages/dashboard/games/list-->
        <a
          class="btn btn-primary"
          class="btn btn-primary"
          style="font-weight: bold; color: white"
          [routerLink]="['../', 'games', 'list']"
        >
          Click here
        </a>
      </div>
    </div>

    <div class="card" style="width: 400px" class="col-4">
      <img
        class="card-img-top"
        src="assets/images/vinylImg2.png"
        alt="Card image"
      />
      <div class="card-body">
        <h4 class="card-title">Albums Table</h4>
        <p class="card-text">
          Click the button below to be redirected to the Albums Table, where you
          can: add, edit, or delete content.
        </p>
        <a
          class="btn btn-primary"
          class="btn btn-primary"
          style="font-weight: bold; color: white"
          [routerLink]="['../', 'albums', 'list']"
        >
          Click here
        </a>
      </div>
    </div>

    <div class="card" style="width: 400px" class="col-4">
      <img
        class="card-img-top"
        src="assets/images/movieImg.png"
        alt="Card image"
      />
      <div class="card-body">
        <h4 class="card-title">Movies Table</h4>
        <p class="card-text">
          Click the button below to be redirected to the Movies Table, where you
          can: add, edit, or delete content.
        </p>
        <a
          class="btn btn-primary"
          class="btn btn-primary"
          style="font-weight: bold; color: white"
          [routerLink]="['../', 'movies', 'list']"
        >
          Click here
        </a>
      </div>
    </div>

    <div class="card" style="width: 400px" class="col-4">
      <img
        class="card-img-top"
        src="assets/images/vinylImg2.png"
        alt="Card image"
      />
      <div class="card-body">
        <h4 class="card-title">Products Table</h4>
        <p class="card-text">
          Click the button below to be redirected to the Products Table, where
          you can: add, edit, or delete content.
        </p>
        <a
          class="btn btn-primary"
          class="btn btn-primary"
          style="font-weight: bold; color: white"
          [routerLink]="['../', 'products', 'list']"
        >
          Click here
        </a>
      </div>
    </div>
  </div>
</div>
